---
interface Props {
    href?: String
}

const { href } = Astro.props
---

<li class="ml-5">
    <a 
    class="flex gap-4 text-zinc-400 hover:text-zinc-100 items-end py-3 font-medium transition duration-300"
    href={href}>
        <slot />
    </a>
</li>